<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Workout Builder — Dashboard</title>
  <link rel="stylesheet" th:href="@{/css/application.dist.css}">
  <script src="//unpkg.com/alpinejs" defer></script>
  <script type="module" th:src="@{/js/main.js}" defer></script>
  <script type="module" th:src="@{/js/toast.js}" defer></script>

  <script src="https://code.jquery.com/jquery-1.12.1.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

</head>
<body>
<div th:replace="fragments/topnav :: navbar"></div>
<main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <br><br>

  <Label>Generate New Workout</Label>
  <form id="logWorkout" action="#" method="POST" class="space-y-4">
    <div id="workoutFields" class="pb-4">
      <div class="form-control w-full max-w-xs">
        <input type="text" name="workoutName" id="workoutName" placeholder="Workout Name" class="order-2 input input-bordered w-full">
        <label class="label order-1">
          <span class="label-text">Workout Name</span>
        </label>
      </div>
      <div class="form-control w-full max-w-xs">
        <textarea type="text" name="workoutDescription" id="workoutDescription" placeholder="Workout Description" class="order-2 input input-bordered w-full"></textarea>
        <label class="label order-1">
          <span class="label-text">Workout Description</span>
        </label>
      </div>
    </div>
    <template id="exerciseFields">
      <br>
      <hr class="mb-4 border-gray-600">
      <br>
      <div class="exercise space-y-4">
        <div class="form-control w-full max-w-xs">
          <div>
            <label class="label order-1" for="exercises">
              <span class="label-text">Exercise Name</span>
            </label>
          </div>
          <select id="exercises" name="exercises" class="order-2 input input-bordered w-full"></select>
        </div>
        <div class="flex flex-row space-x-4">
          <div class="form-control w-full max-w-xs mr-2">
            <input type="number" name="sets" id="exerciseSets" min="0" placeholder="Sets" class="order-2 input input-bordered w-full">
            <label class="label order-1" for="exerciseSets">
              <span class="label-text">Sets</span>
            </label>
          </div>
          <div class="form-control w-full max-w-xs">
            <input type="number" name="reps" id="exerciseReps" min="0" placeholder="Reps" class="order-2 input input-bordered w-full">
            <label class="label order-1" for="exerciseReps">
              <span class="label-text">Reps</span>
            </label>
          </div>
        </div>
        <div class="flex flex-row gap-2">
          <div class="flex form-control w-full max-w-xs mr-2">
            <input type="number" name="weight" id="exerciseWeight" min="0" placeholder="Weight" class="order-2 input input-bordered w-full">
            <label class="label order-1" for="exerciseWeight">
              <span class="label-text">Weight (kg)</span>
            </label>
          </div>
          <div class="flex form-control w-full max-w-xs">
            <input type="number" name="duration" id="exerciseDuration" required min="0" placeholder="Duration" class="order-2 input input-bordered w-full">
            <label class="label order-1" for="exerciseDuration">
              <span class="label-text">Duration (minutes)</span>
            </label>
          </div>
        </div>
      </div>
    </template>
    <div class="exercises">
    </div>
    <div class="flex items-center">
      <div class="form-control w-full max-w-xs">
        <input type="date" name="date" id="workoutDate" required class="order-2 input input-bordered w-full" />
        <label for="workoutDate" class="label order-1">
          <span class="label-text">Date</span>
        </label>
      </div>
    </div>
    <button id="addExercise" class="rounded-md bg-lighter-red px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-800">Add Exercise</button>
    <button type="submit" class="rounded-md bg-lighter-red px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-800">Log Workout</button>
  </form>

  <!-- By embedding this as markup, Tailwind recognizes the classes -->
  <template id="toastTemplate">
    <div class="alert">
      <span>{message}</span>
    </div>
  </template>
  <template id="alertTypes">
    <div class="alert-info"></div>
    <div class="alert-success"></div>
    <div class="alert-warning"></div>
    <div class="alert-error"></div>
  </template>
  <div id="toast" class="toast">
  </div>

  <style>
    /* This makes required fields get an asterisk */
    input[required] + label > span::after {
        position: relative;
        content: "*";
        left: 2px;
    }
  </style>
</main>
</body>
</html>