<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Workout Builder — Dashboard</title>
  <link rel="stylesheet" th:href="@{/css/application.dist.css}">
  <script src="//unpkg.com/alpinejs" defer></script>
  <script th:src="@{/js/main.js}" defer></script>

  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script type="text/javascript">
    $(function() {
      $("#exerciseName").autocomplete({
        source: function(request, response) {
          $.ajax({
            url: "api/searchExercise",
            dataType: "json",
            data: {
              name: request.term
            },
            success: function(data) {
              response(data);
            }
          });
        },
        minLength: 3,
      });
    });
  </script>


</head>
<body>
<div th:replace="fragments/topnav :: navbar"></div>
<main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <br><br>
  <label> Generate New Workout </label>
  <form>
    <div class="sm:col-span-4">
      <label for="workoutDuration" class="block text-sm font-medium leading-6 text-gray-900">Workout Duration in Minutes</label>
      <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md">
        <input type="number" name="workoutDuration" id="workoutDuration" required min="0" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Time in mins">
      </div>
    </div>
    <div class="flex items-center">
      <label for="exerciseName" class="block text-sm font-medium leading-6 text-gray-900">Exercise Name</label>
      <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600 sm:max-w-md ml-2">
        <input type="text" name="exerciseName" id="exerciseName" required min="0" class="block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" placeholder="Name">
      </div>
    </div>
    <br>
    <button type="submit" class="rounded-md bg-lighter-red px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-800">Create Workout</button>
  </form>


  <br><br><br>


</main>
</body>
</html>