<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Workout Builder — Dashboard</title>
  <link rel="stylesheet" th:href="@{/css/application.css}">
  <script src="//unpkg.com/alpinejs" defer></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            'deep-red': '#8B0000',
            'lighter-red': '#A10A0A',
          }
        }
      }
    }
  </script>
</head>
<body>
<div th:replace="fragments/topnav :: navbar"></div>
<main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
</main>
</body>
</html>